{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Expenses</li>

          <li class="breadcrumb-item">
            <a href="{% url 'expenses' %}">My Expenses</a>
          </li>
        </ol>
      </nav>
    </div>
       
    <div class="col-md-3">
      <a class="btn btn-primary" href="{% url 'add-expense' %}">Add Expense</a>
    </div>
    <h1>Expenses List</h1>
  </div>
</div>
<div class="container">
  {% include 'partials/_messages.html' %}
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" id="searchField"class="form-control" placeholder="search">
      </div>
    </div>
  </div>
</div>
<div class="app-table container">
  {% if expenses.count %}
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Amount ({{currency}})</th>
        <th>Category</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for expense in page_obj %}
      <tr>
        <td>{{expense.amount}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.description}}</td>
        <td>{{expense.date}}</td>
        <td><a href="{% url "expense-edit" expense.id %}" class="btn btn-secondary">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if documents.count %}
  <table class="table table-stripped table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Description</th>
        <th>Document</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for document in documents %}
      <tr>
        <td>{{document.name}}</td>
        <td>{{document.description}}</td>
         <td>
                <button class="btn btn-secondary .show-document-button" data-url="{{ document.file.url }}">Show Document</button>
         </td>

      </tr>
      {% endfor %}
    </tbody>
    <div id="document-display">
    <!-- Document content will be displayed here -->
</div>
  </table>
   {% endif %}

</div>
<div class="table-output container">
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Amount ({{currency}})</th>
        <th>Category</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-body">

    </tbody>
  </table>

</div>
  <div class="pagination-container container">
  <div class="mt-5 row">
  <div class="col-md-9"> showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</div>
  <ul class="pagination col-md-3">
    {% if page_obj.has_previous %}
   <li {% if page_obj.number == "1" %}class="page-item active" {% endif %} ><a class="page-link" href="?page=1">1</a></li>
   <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
    {% endif %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>
    {% endif %}
  </ul>
  </div>
  {% endif %}
</div>

<script src={% static "js/searchExpenses.js" %}></script>

{% endblock content %}
