{% extends 'base_auth.html' %} {% block content %}

<div class="row mt-5">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card p-2">
      <div class="card-body">
        <div class="card-title pb-3">
          <h4>Please Enter your email to get reset link</h4>
        </div>

        <form action="{% url 'request-password' %}" method="post">
          {% csrf_token %} {% include 'partials/_messages.html' %}

          <div class="form-group my-2">
            <input
              value="{{values.email}}"
              type="email"
              placeholder="email address"
              name="email"
              id="emailField"
              class="form-control"
            />
          </div>
          <div
            class="invalid-feedback emailFeedbackArea"
            style="display: none"
          ></div>
          <input
            type="submit"
            value="Register"
            class="btn btn-primary mx-auto submit-btn w-full"
          />
          <div class=""></div>
        </form>
      </div>
       <div class=""> 
      <span>Dont have an account??</span> <a href="{% url "register" %}">Register</a>
    </div> 
    </div>
    <div class="col-md-4"></div>
  </div>

  {% endblock content %}
</div>
